
body {background-image: url('../img/glitter-green-blue.jpg');
  background-size: cover;
}

.jumbotron {
  padding-top: 90px;
  background: linear-gradient(
      rgba(100, 255,255, 0.70),
      rgba(255, 100, 255, 0.70)); /*rgba(72, 243, 240, 1)*/;
  text-align: center;
  height: 240px;
  width: 100%;
  position: fixed;
  top: 0px;
}

.jumbotron h1 {
  color: rgba(252, 15, 192, 1);
  text-align: center;
  font-family: 'Arapey';
  font-size: 100px;
  padding-top: 0px;
  margin-top: 0px;
}

.jumbotron h2 {
  color: black;
  text-align: center;
  font-family: 'Niconne';
  font-size: 70px;
  padding-bottom: 0px;
  margin-top: -80px;
  margin-bottom: -20px;
}

.jumbotron ul {
    padding: 10px;
    font-family: 'Niconne';
    font-size: 25px;
    background: rgba(252, 15, 192, 1);
    color: black;
}

.jumbotron li {
  display: inline;
  transition: 0.3s;
  padding: 13px 20px 13px 20px;
}

div {
  color: white;
}

.jumbotron a {
  color: white;
  text-decoration: none;
}

.jumbotron a:hover {
  background-color: white;
  color: rgba(252, 15, 192, 1);
  text-decoration: none;
  padding: 13px 0px 13px 0px;
}

.heading {
  color: white;
  font-family: 'Arapey';
  text-align: center;
  padding: 5px 20px 20px 20px;
}

.heading h1 {
  font-size: 60px;
}

.heading h3 {
  font-size: 30px;
}

.outfits {
  font-family: 'Arapey'
}

  .Outfits {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-image: url('../img/outfits.jpg');
    width: 60%;
    border-radius: 20px;
    background-size: cover;
  }



  .Baking {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/baking.jpg');
    width: 60%;
    border-radius: 20px;
    background-size: cover;
  }



  .Charity {
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    background-image: url('../img/charity.jpg');
    width: 60%;
    border-radius: 20px;
    background-size: cover;
  }



  .Travel {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 20px;
    text-indent: 40px;
    background-image: url('../img/travel.jpg');
    background-size: cover;

  }

.Title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 20px;
  text-indent: 40px;
  background: rgba(0, 255, 255, 0.5);
  background-size: cover;
  margin-top: 300px;
  font-size: 50px;
  padding: 20px;]
  height: 200px;
}

 .Title {

    font-family: 'Arapey';
    color: white;
  }

h3 { font-size: 60px;
}
 .Baking {
    height: 350px;
    font-family: 'Arapey';
    color: white;
  }
   .Travel {
    height: 350px;
    font-family: 'Arapey';
    color: white;
  }
 .Charity {
    height: 350px;
    font-family: 'Arapey';
    color: cyan;
  }

   .Outfits {
    height: 350px;
    font-family: 'Arapey';
    color: white;
  }
